{% extends "layout.html.jinja" %}

{% block middle %}
    <h1>Autor: Jan Gajewski</h1>
    <h2>Informacje ogólne</h2>
    <div style="text-align: justify">
    Nazywam się Jan Gajewski i jestem studentem pierwszego roku na kierunku Informatyka Stosowana na Uniwersytecie Ekonomicznym w Krakowie. Pochodzę
    z Zakopanego, gdzie aktualnie mieszkam od czasu kwarantanny. Mam 21 lat i informatyką interesuję się praktycznie od wczesnej podstawówki.
    </div>
    <h2>"Kariera" informatyczna</h2>
    <div style="text-align: justify">
    Początki mojej "kariery" informatycznej sięgają 5 klasy szkoły podstawowej, kiedy to zadając sobie pytanie "jak stworzyć grę komputerową" trafiłem na
    swój pierwszy podręcznik do języka programowania. Tym językiem był C++, którego nauki się podjąłem, jednak docierając do tematu wskaźników postanowiłem
    dać sobie spokój. Na poważnie temat informatyki powrócił do mnie dopiero pod koniec gimnazjum, kiedy to postanowiłem kontynuować naukę w klasie o 
    profilu technik informatyk. Od tamtego czasu powróciłem do nauki programowania i skończyłem zaczęty przed laty podręcznik. W czasie nauki w technikum
    zacząłem również pisać w JavaScripcie. Były to jednak jedynie podstawy. Niedaleko zakończenia szkoły jednak postanowiłem wraz z wieloletnim przyjacielem
    założyć stronę internetową. Ja zajmowałem się backendem, co prawdopodobnie widać po wyglądzie tej strony, korzystając wówczas z NodeJS i MongoDB.
    Na pewnym etapie projektu postanowiliśmy jednak zmienić środowisko na ASP.NET, a zatem C#, którego nauczyłem się wcześniej przy okazji korzystania z
    silnika Unity. W późniejszym czasie zajmowałem się innymi drobnymi projektami, z których niektóre są dostępne na <a href="https://github.com/Hazeliusz">moim Githubie</a>.
    </div>
    <h2>Zainteresowania pozainformatyczne</h2>
    <div style="text-align: justify">
    Poza informatyką interesuję się również ogólnie pojętą fantastyką, grami RPG rozgrywanymi na blacie stołu (TTRGP) oraz grami komputerowymi. Tę ostatnią pasję łączę z
    informatyką poprzez pracę na silniku Unity, gdzie uczę się tworzyć własne gry. 
    </div>
{% endblock middle %}