{% extends "layout.html.jinja" %}

{% block middle %}
    <h2>Ekstrakcja opinii o produkcie</h2>
    {% if error is defined %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><i class="bi bi-exclamation-traingle-fill"></i>Błąd!</strong> {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <form class="row g-3" method="POST">
    <div class="col-auto">
        <label for="product_id" class="form-control-plaintext">Podaj kod produktu</label>
    </div>
    <div class="col-auto">
        <input type="text" class="form-control" id="product_id" name="product_id" placeholder="Kod produktu" required>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Pobierz</button>
    </form>
{% endblock middle %}