{% extends "layout.html.jinja" %}

{% block middle %}
    <h2>
    Identyfikator produktu: {{ product.product_id }}<br>
    Nazwa produktu: {{ product.product_name }}<br>
    </h2>
    <div>
    Liczba opinii: {{ product.opinions_count }}<br>
    Liczba zalet: {{ product.pros_count }}<br>
    Liczba wad: {{ product.cons_count }}<br>
    Średnia ocena: {{ product.average_score }}<br>
    <a href="{{ url_for('chart', product_id=product.product_id) }}">Wykresy</a><br>
    Opinie: <br>
    </div>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Autor</th>
        <th scope="col">Rekomendacja</th>
        <th scope="col">Ocena</th>
        <th scope="col">Potwierdzona zakupem</th>
        <th scope="col">Data wystawienia</th>
        <th scope="col">Data zakupu</th>
        <th scope="col">Przydatna</th>
        <th scope="col">Nieprzydatna</th>
        </tr>
    </thead>
    <tbody>
    {% for opinion in product.opinions|sort(attribute='opinion') %}
        <tr>
            <td>{{opinion.opinion_id}}</td>
            <td>{{ opinion.author }}</td>
            <td>{% if opinion.recommendation %} Polecam {% elif opinion.recommendation == False %} Nie polecam {% else %} Brak {% endif %}</td>
            <td>{{ opinion.stars }}</td>
            <td>{% if opinion.verified %} Tak {% else %} Nie {% endif %}</td>
            <td>{{ opinion.post_date }}</td>
            <td>{% if opinion.purchase_date %} {{opinion.purchase_date}} {% else %}Brak{% endif %}</td>
            <td>{{ opinion.usefulness }}</td>
            <td>{{ opinion.uselessness }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <div>
    <h2>
        Pobierz jako: <a href="{{ url_for('download_csv', product_id=product.product_id) }}">CSV</a>,
            <a href="{{ url_for('download_json', product_id=product.product_id) }}">JSON</a>,
            <a href="{{ url_for('download_xlsx', product_id=product.product_id) }}">XLSX</a>
    </h2>
{% endblock middle %}